* {
    box-sizing: border-box;
}

.absolute {
    position:absolute;
}

.stretch-width {
    width: 100%;
}

.tv-container {
    width: 800px;
    height: 800px;
    position: relative;
}

.kitteh-gif-container {
    width: 100%;
    height: 100%;
    background-color: #222222;
    padding: 10% 15%;
}

.kitteh-gif {

}
