* { Box-sizing: Border-box }

.absolute {
    position:absolute;
}

.stretch-width {
    width: 100%;
}

.stretch {
    width: 100%;
    height: 100%;
}

.tv-container {
    width: 800px;
    height: 538px;
    position: relative;
}

.kitteh-gif-container {
    width: 100%;
    height: 100%;
    padding-top: 10%;
    padding-left: 13%;
    padding-right: 26%;
    padding-bottom: 10%;
}

.kitteh-gif-container-inner {
    background-color: #222222;
}

.kitteh-gif {
    top: 0;
    left: 0;
}

.front {
    z-index: 100;
}

.off-screen {
    position: absolute;
    top: -10000px;
}
